@model IEnumerable<Domain.EmpresaEmpresa>

@{
    ViewData["Title"] = "EmpresaEmpresaParceirosMeu";
}

<h2>Empresas Parceiras</h2>

<p>
    <a asp-action="Index" class="btn btn-info">Index</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                Empresa parceira
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpresaDois.Razao)
            </td>
            <td>
                <a asp-action="EmpresaBeneficiosParceiro" asp-route-id="@item.EmpresaDois.EmpresaId" class="btn btn-dark">Beneficios</a> |
                <a asp-action="Delete" asp-controller="Empresa" asp-route-id="@item.EmpresaEmpresaId" class="btn btn-danger">Remover Parceria</a>
            </td>
        </tr>
}
    </tbody>
</table>
