@model Domain.Empresa

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

    <fieldset>
        <legend>Excluir Empresa</legend>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cnpj)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Razao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Razao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CriadaEm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CriadaEm)
            </dd>
        </dl>

        <form asp-action="Excluir">
            <input type="hidden" asp-for="EmpresaId" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
        </fieldset>
        </div>
