@model Domain.Empresa

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

<legend>Index Empresa</legend>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Razao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Razao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CriadaEm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CriadaEm)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Editar" asp-controller="Empresa" asp-route-id="@Model.EmpresaId">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
