@model IEnumerable<Domain.Empresa>

@{
    ViewData["Title"] = "Empresas";
}

<h2>Empresas</h2>

    <a class="btn btn-info" asp-controller="Cliente" asp-action="Index">Index</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razao)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Razao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="EmpresaParceria" asp-route-id="@item.EmpresaId" class="btn btn-dark">Adicionar</a> |
                <a asp-action="EmpresaDetails" asp-route-id="@item.EmpresaId" class="btn btn-info">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
