@model IEnumerable<Domain.Empresa>

@{
    ViewData["Title"] = "ListarEmpresas";
}

<h2>ListarEmpresas</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadaEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Razao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadaEm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpresaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpresaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpresaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
